[[plugins]]
repo = 'vim-denops/denops.vim'

[[plugins]]
repo = 'bluz71/vim-nightfly-colors'
hook_add = '''
    let g:nightflyNormalFloat = v:true
    let g:nightflyWinSeparator = 2

    if !has("gui")
        let g:nightflyTransparent = 1
    endif

    if has("nvim")
        set winborder=single
        set fillchars=horiz:━,horizup:┻,horizdown:┳,vert:┃,vertleft:┨,vertright:┣,verthoriz:╋
    endif

    augroup CustomHighlight
        autocmd!
        autocmd ColorScheme nightfly highlight clear FloatBorder
        autocmd ColorScheme nightfly highlight link FloatBorder NightflyMalibu
    augroup END
'''

[[plugins]]
repo = 'editorconfig/editorconfig-vim'

[[plugins]]
repo = 'ntpeters/vim-better-whitespace'

[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'Yggdroot/indentLine'
if = '!has("nvim")'
hook_add = '''
    let g:indentLine_faster = 1
'''

[[plugins]]
repo = 'shellRaining/hlchunk.nvim'
if = 'has("nvim")'
lua_source = '''
    require("hlchunk").setup({
        chunk = {
            enable = true,
            chars = {
                left_top = "┌",
                left_bottom = "└",
            },
            delay = 100,
        },
        indent = {
            enable = true,
        },
        line_num = {
            enable = false,
        },
        blank = {
            enable = false,
        },
    })
'''

[[plugins]]
repo = 'itchyny/lightline.vim'
hooks_file = '~/.vim/rc/lightline.hooks.vim'

[[plugins]]
repo = 'josa42/nvim-lightline-lsp'
if = 'has("nvim")'
hook_source = '''
    let g:lightline.component_expand = {
    \   'lsp_warnings': 'lightline#lsp#warnings',
    \   'lsp_errors': 'lightline#lsp#errors',
    \   'lsp_info': 'lightline#lsp#info',
    \   'lsp_hints': 'lightline#lsp#hints',
    \   'lsp_ok': 'lightline#lsp#ok',
    \   'status': 'lightline#lsp#status',
    \ }

    let g:lightline.component_type = {
    \   'lsp_warnings': 'warning',
    \   'lsp_errors': 'error',
    \   'lsp_info': 'info',
    \   'lsp_hints': 'info',
    \   'lsp_ok': 'info',
    \ }

    let g:lightline#lsp#indicator_warnings = ' '
    let g:lightline#lsp#indicator_errors = ' '
    let g:lightline#lsp#indicator_info = ' '
    let g:lightline#lsp#indicator_hints = ' '
    let g:lightline#lsp#indicator_ok = '✓ '
'''
