@charset "UTF-8";

/* タブ */
#main-window:not([customtitlebar]):has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])) #TabsToolbar {
    visibility: collapse !important;
}

#main-window[customtitlebar]:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
}

/* サイドバー */
#main-window:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])) #sidebar-header {
    visibility: collapse !important;
}

#main-window:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])) #sidebar-main {
    visibility: collapse;
}

#main-window
:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden]))
:has(#sidebar-main:not([hidden]))
#sidebar-box {
    padding-inline-start: var(--space-small) !important;
}

/* ナビゲーションバー */
#navigator-toolbox:-moz-window-inactive {
    opacity: 0.5;
    filter: grayscale(100%);
}

#main-window[uidensity="compact"] #nav-bar {
    height: 27px !important;
}

#main-window[uidensity="compact"] #nav-bar toolbarbutton {
    max-height: 27px !important;
    --toolbarbutton-inner-padding: 4px !important;
}

#vertical-spacer {
    visibility: collapse;
}

@media (-moz-platform: windows) {
    #main-window[customtitlebar]:has(#vertical-tabs:not([collapsed])) #nav-bar {
        padding-left: 24px !important;
        background-position: left var(--toolbar-start-end-padding) center;
        background-repeat: no-repeat;
        background-image: url("chrome://branding/content/icon16.png") !important;
    }
}

/* ブックマークツールバー */
#personal-bookmarks .bookmark-item:not([container]) > .toolbarbutton-text {
    display:none !important;
}

toolbarbutton.bookmark-item:not([container]):not(.subviewbutton) {
    padding: 0 !important;
}

/* プライベートブラウズ */
#main-window[privatebrowsingmode="temporary"] {
    box-sizing: border-box !important;
    border: 3px solid purple !important;
}

/* ロケーションバーにフォーカス時IMEをOFF */
#urlbar *|input {
    ime-mode: inactive !important;
}

/* Window Buttons */
@media (-moz-platform: macos) {
    #main-window[customtitlebar]:has(#vertical-tabs:not([collapsed])) .titlebar-buttonbox-container{
        padding-right: var(--toolbar-start-end-padding) !important;
    }
}
