@charset "UTF-8";

@import "./userChrome-common.css";

#main-window[customtitlebar]:has(#vertical-tabs:not([collapsed])) .titlebar-buttonbox-container{
    padding-right: var(--toolbar-start-end-padding) !important;
}

#TabsToolbar, #titlebar, #nav-bar, #TabsToolbar .tabbrowser-tab[selected], #PersonalToolbar{
    -moz-appearance: -moz-mac-source-list !important;
}

:root[OSXLionFullscreen]:not(:-moz-lwtheme) :is(#navigator-toolbox, #sidebar-box) {
    background: none !important;
}
