@charset "UTF-8";

/* タブ */
#main-window:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])) #TabsToolbar {
    @media
    (-moz-pref("browser.tabs.inTitlebar", 0)) {
        visibility: collapse !important;
    }

    @media
    (-moz-pref("browser.tabs.inTitlebar", 1)) {
        > .toolbar-items {
            opacity: 0;
            pointer-events: none;
        }
    }
}

/* サイドバー */
#main-window:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])) {
    #sidebar-main {
        visibility: collapse;
    }

    #sidebar-header {
        visibility: collapse !important;
    }

    @media
    (-moz-pref("sidebar.revamp")) {
        #sidebar-box {
            padding-inline-start: var(--space-small) !important;
        }
    }
}

#webextpanels-window > #sidebar-panel-header {
    visibility: collapse !important;
}

/* ナビゲーションバー */
#navigator-toolbox:-moz-window-inactive {
    opacity: 0.5;
    filter: grayscale(100%);
}

#main-window[uidensity="compact"] #nav-bar {
    height: 27px !important;

    & toolbarbutton {
        max-height: 27px !important;
        --toolbarbutton-inner-padding: 4px !important;
    }
}

#vertical-spacer {
    visibility: collapse;
}

@media
(-moz-platform: windows) and
(-moz-pref("browser.tabs.inTitlebar", 1)) and
(-moz-pref("sidebar.verticalTabs")) {
    #nav-bar {
        padding-left: 24px !important;
        background-position: left var(--toolbar-start-end-padding) center;
        background-repeat: no-repeat;
        background-image: url("chrome://branding/content/icon16.png") !important;
    }
}

/* ブックマークツールバー */
#personal-bookmarks toolbarbutton.bookmark-item:not([container]) {
    > .toolbarbutton-text {
        display:none !important;
    }

    &:not(.subviewbutton) {
        padding: 0 !important;
    }
}

/* プライベートブラウズ */
#main-window[privatebrowsingmode="temporary"] {
    box-sizing: border-box !important;
    border: 3px solid purple !important;
}

/* ロケーションバーにフォーカス時IMEをOFF */
#urlbar *|input {
    ime-mode: inactive !important;
}

/* Window Buttons */
@media
(-moz-platform: macos) and
(-moz-pref("browser.tabs.inTitlebar", 1)) and
(-moz-pref("sidebar.verticalTabs")) {
    #main-window .titlebar-buttonbox-container{
        padding-right: var(--toolbar-start-end-padding) !important;
    }
}
