@charset "UTF-8";

@import "./userChrome-common.css";

/* ツールバー */
#main-window[customtitlebar]:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden="true"])) #nav-bar {
    margin-top: -36px;
}

#main-window[customtitlebar]:not([inFullscreen]):has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden="true"])) #nav-bar {
    padding-left: 80px !important;
}

#main-window:not([inFullscreen]):has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden="true"])) .titlebar-buttonbox-container{
    margin-bottom: 8px !important;
}

#TabsToolbar, #titlebar, #nav-bar, #TabsToolbar .tabbrowser-tab[selected], #PersonalToolbar{
    -moz-appearance: -moz-mac-source-list !important;
}

#TabsToolbar:-moz-lwtheme-brighttext, #titlebar:-moz-lwtheme-brighttext, #nav-bar:-moz-lwtheme-brighttext, #TabsToolbar .tabbrowser-tab[selected]:-moz-lwtheme-brighttext, #PersonalToolbar:-moz-lwtheme-brighttext {
    -moz-appearance: -moz-mac-vibrant-titlebar-dark !important;
}

:root[OSXLionFullscreen]:not(:-moz-lwtheme) :is(#navigator-toolbox, #sidebar-box) {
    background: none !important;
}
