@charset "UTF-8";

@import "./userChrome-common.css";

/* --------------------------------
UI font
-------------------------------- */
* {
    font-family: "Segoe UI", "游ゴシック" !important;
    font-weight: 500;
}

/* adjust vertical align for Segoe UI */
#urlbar-input, #identity-icon-label {
    padding-bottom: 3px !important;
}

/* --------------------------------
Toolbar
-------------------------------- */
#main-window[customtitlebar]:has(#vertical-tabs[collapsed="false"]) #nav-bar {
    padding-left: 24px !important;
    background-position: left var(--toolbar-start-end-padding) center;
    background-repeat: no-repeat;
    background-image: url("chrome://branding/content/icon16.png") !important;
}
