@charset "UTF-8";

/* タブ */
#tabbrowser-tabs {
    visibility: collapse !important;
}

/* サイドバー */
#sidebar-header {
    visibility: collapse !important;
}

/* タイトルバー */
.titlebar-spacer[type="pre-tabs"] {
    border: none !important;
}

/* ナビゲーションバー */
#navigator-toolbox:-moz-window-inactive {
    opacity: 0.5;
    filter: grayscale(100%);
}

#nav-bar {
    height: 27px !important;
}

#nav-bar toolbarbutton {
    max-height: 27px !important;
    --toolbarbutton-inner-padding: 4px !important;
}

#nav-bar #back-button > .toolbarbutton-icon,
#nav-bar #forward-button > .toolbarbutton-icon{
    -moz-appearance: none !important;
    border: 0px solid transparent !important;
    box-shadow: none !important;
    background: none !important;
}

#nav-bar #back-button {
    -moz-padding-start: 0px !important;
}

.urlbar-history-dropmarker,
#reader-mode-button,
#star-button {
    display: none !important;
}

/* アドレスバー */
#urlbar:not([focused="true"]) > #urlbar-background, #searchbar {
    min-height: 24px !important;
    height: 24px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    padding-top: 1px !important;
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}

#urlbar-container, #search-container {
    padding-block: 0 !important;
}

/* ブックマークツールバー */
.bookmark-item > .toolbarbutton-text {
    display: none !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
    padding: 0 !important;
}

/* プライベートブラウズ */
#main-window[privatebrowsingmode="temporary"] {
    box-sizing: border-box !important;
    border: 3px solid purple !important;
}

#TabsToolbar .private-browsing-indicator {
    display: none !important;
}

/* ロケーションバーにフォーカス時IMEをOFF */
#urlbar *|input {
    ime-mode: inactive !important;
}
