@charset "UTF-8";

@import "./userChrome-common.css";

/* フォント変更 */
* {
    font-family: "メイリオ" !important;
}

/* ナビゲーションバー */
#nav-bar {
    margin-top: -27px;
    margin-right: 140px;
    padding-left: 32px;
    background-image: url("chrome://branding/content/icon16.png") !important;
    background-position: 8px 4px;
    background-repeat: no-repeat;
}

#TabsToolbar, #toolbar-menubar {
    background-color: var(--toolbar-bgcolor);
}
