@charset "UTF-8";

@import "./userChrome-common.css";

/* --------------------------------
UI font
-------------------------------- */
* {
    font-family: "Segoe UI", "游ゴシック" !important;
    font-weight: 500;
}

/* adjust vertical align for Segoe UI */
#urlbar-input, #identity-icon-label {
    padding-bottom: 3px !important;
}

/* --------------------------------
Toolbar
-------------------------------- */
#main-window[tabsintitlebar="true"]:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden="true"])) #nav-bar {
    margin-top: -25px;
    margin-right: 140px;
    padding-left: 32px !important;
    background-position: 8px 4px;
    background-repeat: no-repeat;
    background-image: url("chrome://branding/content/icon16.png") !important;
}

#main-window[tabsintitlebar="true"]:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden="true"])) #TabsToolbar {
    max-height: 27px !important;
}

#TabsToolbar, #toolbar-menubar {
    background-color: var(--toolbar-bgcolor);
}
