@charset "UTF-8";

:root {
    --custom-toolbarbutton-outer-padding: var(--toolbarbutton-outer-padding);
    --windows-customtitlebar-start-padding: var(--toolbar-start-end-padding);

    &[uidensity="compact"] {
        --custom-toolbarbutton-outer-padding: 0px;
        --windows-customtitlebar-start-padding: 4px;
    }
}

/* タブ */
#main-window:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])) #TabsToolbar {
    @media
    (-moz-pref("browser.tabs.inTitlebar", 0)) {
        visibility: collapse !important;
    }

    @media
    (-moz-pref("browser.tabs.inTitlebar", 1)) {
        > .toolbar-items {
            opacity: 0;
            pointer-events: none;
        }
    }
}

/* サイドバー */
#main-window:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])) {
    #sidebar-main {
        visibility: collapse;
    }

    #sidebar-header {
        visibility: collapse !important;
    }

    #sidebar-button {
        display: none;
    }

    @media
    (-moz-pref("sidebar.revamp")) {
        #sidebar-box {
            padding-inline-start: var(--space-small) !important;
        }

        #sidebar-splitter {
            transition: all 300ms 30ms ease !important;

            &:not(:hover) {
                width: var(--space-small) !important;
            }
        }
    }
}

#webextpanels-window > #sidebar-panel-header {
    visibility: collapse !important;
}

/* ナビゲーションバー */
#navigator-toolbox:-moz-window-inactive {
    opacity: 0.5;
    filter: grayscale(100%);
}

#main-window[uidensity="compact"] #nav-bar {
    height: 27px !important;
    --toolbarbutton-inner-padding: 4px !important;

    toolbarbutton.bookmark-item,
    .toolbaritem-combined-buttons {
        margin-inline: 0 !important;
    }

    .toolbarbutton-1 {
        overflow: visible !important;
        --toolbarbutton-outer-padding: var(--custom-toolbarbutton-outer-padding) !important;
    }
}

#vertical-spacer {
    visibility: collapse;
}

@media
(-moz-platform: windows) and
(-moz-pref("browser.tabs.inTitlebar", 1)) and
(-moz-pref("sidebar.verticalTabs")) {
    #nav-bar {
        padding-left: calc(var(--windows-customtitlebar-start-padding) + 2 * var(--custom-toolbarbutton-outer-padding) + 2 * var(--toolbarbutton-inner-padding) + 16px) !important;
        background-position: left calc(var(--custom-toolbarbutton-outer-padding) + var(--toolbarbutton-inner-padding) + var(--windows-customtitlebar-start-padding)) center;
        background-repeat: no-repeat;
        background-image: url("chrome://branding/content/icon32.png") !important;
        background-size: 16px;
    }

    #nav-bar-customization-target {
        & > :is(toolbarbutton, toolbaritem):first-child,
        & > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem) {
            padding-inline-start: 0 !important;
        }
    }

    #main-window:has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])) {
        #nav-bar-customization-target {
            & > #sidebar-button:first-child + :is(toolbarbutton, toolbaritem),
            & > #wrapper-sidebar-button:first-child + toolbarpaletteitem > :is(toolbarbutton, toolbaritem) {
                padding-inline-start: 0 !important;
            }
        }
    }
}

/* ブックマークツールバー */
#personal-bookmarks toolbarbutton.bookmark-item:not([container]) {
    > .toolbarbutton-text {
        display:none !important;
    }

    &:not(.subviewbutton) {
        > .toolbarbutton-icon {
            margin-inline-end: 0 !important;
        }
    }
}

/* プライベートブラウズ */
#main-window[privatebrowsingmode="temporary"] {
    box-sizing: border-box !important;
    border: 3px solid purple !important;
}

/* ロケーションバーにフォーカス時IMEをOFF */
#urlbar *|input {
    ime-mode: inactive !important;
}

/* Window Buttons */
@media
(-moz-platform: macos) and
(-moz-pref("browser.tabs.inTitlebar", 1)) and
(-moz-pref("sidebar.verticalTabs")) {
    #main-window .titlebar-buttonbox-container{
        padding-right: var(--toolbar-start-end-padding) !important;
    }
}
