@charset "UTF-8";

@import "./userChrome-common.css";

/* フォント変更 */
* {
    font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans" !important;
}

/* ツールバー */
#nav-bar {
    margin-top: -20px; /* 上方向に余白をマイナス＝ウィンドウボーダーに食い込ませる */
    background-color: transparent !important;
    z-index: 1;
}

/* .titlebar-buttonbox-container{
  margin-bottom: -2px;
  visibility:visible !important;
} */

#TabsToolbar, #titlebar, #nav-bar, #TabsToolbar .tabbrowser-tab[selected], #PersonalToolbar{
    -moz-appearance: -moz-mac-vibrancy-light !important; 
}

#TabsToolbar:-moz-lwtheme-brighttext, #titlebar:-moz-lwtheme-brighttext, #nav-bar:-moz-lwtheme-brighttext, #TabsToolbar .tabbrowser-tab[selected]:-moz-lwtheme-brighttext, #PersonalToolbar:-moz-lwtheme-brighttext {
    -moz-appearance: -moz-mac-vibrancy-dark !important; 
}

#main-window:not([inFullscreen]) #nav-bar {
    padding-left: 80px !important;
}
