* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Noto Sans", HackGenNerd, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(34, 45, 50, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #fcfcfc;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0;
    background-color: transparent;
    color: #fcfcfc;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #fcfcfc;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #fcfcfc;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #fcfcfc;
}

#window,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 4px 3px 4px;
    color: #fcfcfc;
    background: none;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes charging-blink {
    to {
        color: #26A65B;
    }
}

#battery.charging, #battery.plugged {
    color: #fcfcfc;
    animation-name: charging-blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes critical-blink {
    to {
        color: #f53c3c;
    }
}

#battery.critical:not(.charging) {
    color: #fcfcfc;
    animation-name: critical-blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: #cccccc;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
