@define-color bg_color #1b2224;
@define-color bg_color_with_opacity rgba(27, 34, 36, 0.5);
@define-color fg_color #ccd7d4;
@define-color fg_color_with_opacity rgba(204, 215, 212, 0.5);
@define-color accent_color #2eb398;
@define-color urgent_color #a53834;

window#waybar {
    font-family: "Noto Sans CJK JP", "HackGen Console NF", sans-serif;
    font-size: 14px;
    background-color: @bg_color_with_opacity;
    color: @fg_color;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces * {
    all: unset;
}

#workspaces {
    font-family: Roboto;
    padding-left: 12px;
    margin: 0 4px;
}

#workspaces button {
    color: @fg_color_with_opacity;
    margin: 2px 0;
    padding: 0 3px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#workspaces button:hover {
    border: 1px solid @fg_color_with_opacity;
    background: none;
}

#workspaces button.focused,
#workspaces button.active {
    color: @fg_color;
    border: 1px solid @fg_color;
}

#workspaces button.urgent {
    border-color: @urgent_color;
}

#mode {
    margin: 2px 0;
    padding: 0 8px;
    border: 1px solid @accent_color;
    border-radius: 4px;
    font-family: Roboto;
    color: @accent_color;
}

#window {
    font-weight: 500;
}

#window,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#idle_inhibitor,
#mpd {
    margin: 0 6px 2px 6px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-left > widget:last-child > #window {
    padding-right: 128px;
}

#custom-media {
    margin-right: 10px;
}

#network.disconnected {
    color: @fg_color_with_opacity;
}

#pulseaudio.muted {
    color: @fg_color_with_opacity;
}

@keyframes charging-blink {
    to {
        color: @accent_color;
    }
}

#battery.charging, #battery.plugged {
    animation-name: charging-blink;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes critical-blink {
    to {
        color: @urgent_color;
    }
}

#battery.critical:not(.charging) {
    animation-name: critical-blink;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding: 0 12px 0 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#clock {
    margin: 0 16px 2px 16px;
}
